a{
    text-decoration: none;
    color: var(--title);
    font-weight: bold;
    transition: 0.2s;
}
.nav{
    width: 60%;
}
ul{
    list-style: none;
    display: flex;
    margin: 15px;
    justify-content: space-between;
    border: 1px solid var(--border) ;
    border-radius: 50px;
    padding: 15px;
}
.nav ul li a:hover{
    color: var(--bluevar);
    opacity: 1;
    font-size: 16.5px;
}
.container-header{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary);
    height: 100%;
}
.container-header .burger{
    display: none;
}
.condio{
    width: 100%;
    background-color: var(--secondary);
}
.condio ul li{
    border-bottom: 1px solid var(--border) ;
}
.condio ul li a{
    color: white ;
    
}
.Dialogcss .MuiDialog-paper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.closeIcon{
    width: 100% !important;
    display: flex !important;
    color: white;
    align-items: start;
    justify-content: end;
}
@media(max-width: 750px){
    .nav{display: none;}
    .container-header .burger{
    display: block;
}
}
