@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --primary:#000;
  --secondary:rgb(24 24 27);
  --border : rgba(63 , 63, 70, 0.7);
  --title:rgb(244 244 245);
  --subtitle:rgb(161 161 170);
  --bluevar:rgb(93 188 252);
}
html{
  scroll-behavior: smooth;
}
.light{
  --primary : #ffffff;
  --secondary: #ffffff;
  --border : rgba(240, 220, 130, 0.5);
  --title: #000000; 
  --subtitle: #fff9e6;   
  --bluevar: #f9e88f;           
}
html{
  box-sizing: border-box;
}
*,*:before,*:after {box-sizing: inherit;}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Roboto", sans-serif;
  background-color: var(--primary);
  color: #FFF;
}
.container{
  border:2px solid var(--border);
  position: relative;
  width: 80%;
  margin: 0 auto;
  background-color:var(--secondary) ;
}
.divider{
  border-bottom: solid 1px var(--border);
  margin: 3rem 0;
}
@media(max-width:1000px){
  .container{
    width: 100%;
  }
}